prog-embarquee/bullshit/*
prog-embarquee/.vscode
prog-embarquee/code/*/.pio
prog-embarquee/code/*/.vscode/.browse.c_cpp.db*
prog-embarquee/code/*/.vscode/c_cpp_properties.json
prog-embarquee/code/*/.vscode/launch.json
prog-embarquee/code/*/.vscode/ipch
